.button-exit {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 10px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #a184da, #692dc4);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

.button-exit:active {
    border: 3px outset #ddd;
    color: #fff;
    background: linear-gradient(160deg, #9374c2, #5528af);
    text-shadow: 0px 0px 4px #bdbbbb;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    transition-delay: 0.25s;
}

.button-modal-default {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #84b3da, #2d79c4);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;

    margin:0.5vw;
}

.button-modal-default:active {
    border: 3px outset #ddd;
    color: #fff;
    background: linear-gradient(160deg, #748cc2, #286caf);
    text-shadow: 0px 0px 4px #bdbbbb;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    transition-delay: 0.25s;
}

.button-modal-exit {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #ff4277, #ff0066);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;

    margin:0.5vw;
}

.button-menu-default {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #84b3da, #2d79c4);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;
}

.button-menu-default:active {
    border: 3px outset #ddd;
    color: #fff;
    background: linear-gradient(160deg, #748cc2, #286caf);
    text-shadow: 0px 0px 4px #bdbbbb;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    transition-delay: 0.25s;
}

.button-default {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #84b3da, #2d79c4);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;
    height: 100%;
    width: 100%;
}

.button-default:active {
    border: 3px outset #ddd;
    color: #fff;
    background: linear-gradient(160deg, #748cc2, #286caf);
    text-shadow: 0px 0px 4px #bdbbbb;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    transition-delay: 0.25s;
}

.button-right {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #87da84, #32c42d);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;
    height: 100%;
    width: 100%;
}

.button-wrong {
    border-radius: 12px;
    border: 3px outset #8b8f91;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #eee;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;

    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    font-family: verdana;
    font-size: 28px;
    font-weight: bolder;
    text-decoration: none;
    background:linear-gradient(160deg, #ff4277, #ff0066);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);

    transition: 0.2s;
    height: 100%;
    width: 100%;
}